<div class="card" style="width: 18rem;">

  <a href="/events/event/{{_id}}"><img class="card-img-top" src="{{pictures.path}}" alt="Card image cap" /></a>

  <div class="card-body">

    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{short_description}}</p>

    <div class="list">
      <div id="card-time">
        <p>{{date}}</p>
        <p>{{time}}</p>
      </div>
        <p>{{address}}</p>
        <p>{{city}}</p>
    </div>

    <form action="/events/event/{{_id}}">
      <button type="submit">Read More</button>
    </form>

  </div>
</div>