<div class="container">
  <div>
    <img class="event-img" src="{{pictures.path}}" alt="{{pictures.name}}"></img>
  </div>
  <div class="event-single">
    <h1>{{title}}</h1>
    <div class="practical">
      <div class="number">
        <p>{{date}}</p>
        <p>{{time}}</p>
      </div>
      <p>{{city}}</p>
      <p>{{address}}</p>
    </div>

    <div class="info">
      <h2>What we're changing</h2>
      <p>{{description}}</p>

      <h2>What we'll need</h2>
      <p>{{needs.need_desc}}</p>
      <p>We need at least {{needs.amount_of_ppl}} Pairs of helping hands!</p>
    </div>

    {{!--
    <div>
      {{#each}} if true display eh {{/each}}
    </div> --}}

  </div>
</div>